<div class="container mt-4">

  <div class="text-center"><h2>Admin</h2> <button class="text-end" routerLink="user-management">Edit User</button></div>


  <div class="card p-3 mb-4">
    <h4>Users</h4>
    <table class="table table-bordered" *ngIf="users.length">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Update Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.isActive ? 'Active' : 'Inactive' }}</td>
          <td>
            <select #statusSelect class="form-select" [value]="user.isActive ? 'Active' : 'Inactive'">
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <button class="btn btn-sm btn-success mt-1"
                    (click)="updateUserStatus(user.userId, statusSelect.value)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="card p-3 mb-4">
    <h4>Restaurants</h4>
    <table class="table table-bordered" *ngIf="restaurants.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Cuisine</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <td>{{ restaurant.restaurantId }}</td>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.cuisineType }}</td>
          <td>{{ restaurant.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="card p-3 mb-4">
    <h4>Orders</h4>
    <table class="table table-bordered" *ngIf="orders.length">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID And Name</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.customerId }} - {{order.customerName}}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.deliveryStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
