.my-background {
  background-image: url('D:\Angular\Food_Order\food-order-app\src\assets\bg1.jpg');
  background-size: cover;       /* cover whole area */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* do not repeat */
  height: 100vh;                /* full height */
  width: 100%;
}