.my-background {
  background-image: url('D:\Angular\Food_Order\food-order-app\src\assets\bg1.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;               
  width: 100%;
}